<!DOCTYPE html>
<html lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/base_layout}">

     <!-- Main Content -->
	<div layout:fragment="content">
               <!-- Begin Page Content -->
       	<div class="container-fluid">
                   <!-- Page Heading -->
                   <h1 class="h3 mb-2 text-gray-800">Tables</h1>

                   <!-- DataTales Example -->
                   <div class="card shadow mb-4">
                       <div class="card-header py-3">
                           <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                       </div>
                       <div class="card-body">
                           <div class="table-responsive" style="overflow-y: scroll; height: 400px;">
                          		<table class="table table-bordered" id="dataTable" style="width: 1000px;">
                           		<thead>
	                                <tr>
	                                    <th>번호</th>
	                                    <th>제목</th>
	                                    <th>작성자</th>
	                                    <th>작성일</th>
	                                    <th>조회수</th>
	                                </tr>
                            	</thead>
	                            <tbody class="table-group-divider" style="border-top-color: #CCCCCC">
	                            </tbody>
                       		</table>
                           </div>
                       </div>
                   </div>

               </div>
			<script type="text/javascript" src="/js/board/dataTables.js"></script>			
			<script th:inline="javascript">
				var boardList = /*[[${boardList}]]*/[]; //타임리프 특이 문법 

				$(document).ready(function(){
					alert("테스트123");
					
					initializeDataTable();
					for (let board of boardList) {
						createRow(board.boardSeq, board.boardTitle,board.memberId, board.boardRegDate, board.readCnt );
					}			
				});
			</script>
	</div>             
</html>





