<!DOCTYPE html>
<html lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/base_layout}">


	<div layout:fragment="content">
		<div class="container-fluid">
		
			<!--boardSelectInfo 영역  -->
	    	<h1 class="h4 mb-1 text-gray-800">게시판</h1>
			<div></div>	

	        <div class="row">
	            <div class="col-xl-12 col-lg-5">
                	<div class="card shadow mb-4">
						
						<!--카테고리 탭영역  -->
                    	<div class="card-header py-3">
	                        <h6 class="m-0 font-weight-bold text-primary">카테고리 탭</h6>
	                    </div>
	                    
	                    <!-- boardInfo영역 -->
	                    <div class="card-body">
	                        <div class="chart-pie pt-4">
	                        <table>
	                        	<tr>
	                        		<td>12312312</td>
	                        	</tr>
	                        </table>
	                        </div>
	                        <hr>
	                        게시판 하단
	                        Styling for the donut chart can be found in the
	                        <code>/js/demo/chart-pie-demo.js</code> file.
	                    </div>
	                    
	                </div>
	            </div>
	        </div>
		    
		</div>
	</div>

</html>